{% extends 'main.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center vh-100 text-center">
    <h1 class="fw-bold">Welcome to ApnaVision</h1>
    <p class="lead" style="max-width: 1000px; font-weight: 300;">Imagine you have 4 years to reach your dream destination, but you don't know which path to take. So, you turn to YouTube, hoping to find the best way forward. But YouTube has billions of paths for just one destination.

        You try different ones, hoping to find the perfect fit, but the truth is—finding the best path takes years of trial and error. 2 to 3 years wasted, and by then, it's too late to start over. Sounds frustrating, right?
        
        ⏳ You don't have unlimited time. 80% of students struggle with this problem, but you don't have to.
        
        🚀 ApnaVision gives you a clear roadmap with the best resources so you can save hundreds of hours and get ahead of 80% of your peers.</p>
    <a href="/courses" class="btn btn-primary">Learn More</a>
</div>

{% endblock %}
